* {
    margin: 0;
    padding: 0;
}

/* banner design */

.banner-container {
    height: 120vh;
    width: 100%;
    background-image: url("./images/banner1.png");
    text-align: right;

}

.content-title {
    font-style: bold;
    font-size: 60px;
    margin-right: 200px;
    padding-top: 200px;
}

.content {
    font-size: 16px;
    margin-right: 200px;
    margin-left: 800px;
}

.btn-contact {
    padding: 15px 35px;
    background: #F15B22;
    border: none;
    color: #FFFFFF;
    font-size: 15px;
}

.btn {
    text-align: right;
    padding-right: 200px;
    padding-top: 20px;
}

/* main content design here */

.main-content {
    display: flex;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

.title {
    font-size: 50px;
    padding-top: 180px;
    padding-bottom: 10px;
}

.content-description {
    padding-left: 140px;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;


}

.check {
    justify-content: left;
    display: flex;
    padding-left: 150px;
    margin-top: 15px;
    font-size: 15px;
    font-weight: 10px;

}

/* plan section */

.my-plans {
    margin-left: 150px;
    margin-right: 150px;
}

.section-title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
}

.plans-container {
    display: flex;
    text-align: center;
}

.plan-title {
    font-weight: bold;
    font-size: 25px;
    padding-right: 80px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

.plan-description {
    font-size: 20px;
    font-weight: 100px;
    padding-right: 70px;
    margin-bottom: 10px;
    padding-top: 10px;

}


.btn-call {
    padding: 15px;
    background: white;
    border: none;
    color: #F15B22;
    font-size: 15px;
    margin-top: 30px;
    font-weight: bold;

}
.btn-contact2{
    padding: 15px;
    background: white;
    border: none;
    color: #F15B22;
    font-size: 15px;
    margin-top: 30px;
    font-weight: bold;


}

/* other content */
.others {
    /* background-image: url("./images/watch.png"); */
    background-repeat: no-repeat;
    margin: 230px;
   
}


.head-title {
    font-size: 30px;
    color: #FFFFFF;
    margin-top: 100px;

}

.gradient {
    
    width: 1000px;
    height: 200px;
   margin-top: 150px;
   margin-left:200px;
   margin-bottom: 200px;
   text-align: left;
   background-image: linear-gradient(#3500ff9c,#ff009991,#0037ff6e,#f15b2247),url(./images/watch.png);
}
   .grad-text{
    color: white;
    padding-top: 30px;
    padding-left:40px;
    font-size:40px;
    
   }
  .btn2{
    text-align: left;
    padding-left:50px;
    
  }

/* footer design here */
.footer .f-title{
    text-align: center;
  
}
.footer{
     display: flex;
     gap:100px;
     justify-content: space-evenly;
     background-color: black;
     padding:130px 200px;
}
.footer input [type="text"]{
    margin-bottom: 20px;
    
    padding-left:300px;
    width: 100%;
}
input{
    height:50px;
    margin-top: 10px;
    border: 2px solid wheat;
    border-radius: none;
    background-color: black;
    
    
}
.f-title{
    color:#FFFFFF;
    font-size: 40px;
    padding-right: 500px;
    
}
.s-title{
    color:#FFFFFF;
    font-size:30px;

    


}
.f-title-description{
    font-size: 15px;
    color: #FFFFFF;
    padding-top: 20px;
    padding-right: 90px;
}
.icons{
    /* padding-left: 20px; */
    padding-top: 20px;
    padding-right: 50px;
   
}
.mail,.phone{
    padding-top: 20px;
    color:#FFFFFF
}